@model NewToDoList.Models.log

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>log</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoatDong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoatDong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.HoTen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
