@model NewToDoList.Models.CongViec

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h4>Chi tiết công việc</h4>
    <h4>@Html.ActionLink("Xem thông tin nhân viên", "Index", "ChiTietCV_NV", new { id = Model.MaCV }, new { @class = "btn btn-info",@style="width:250px" })</h4>
    <h4>@Html.ActionLink("Xem file công việc", "Index", "File", new { id = Model.MaCV }, new { @class="btn btn-info", @style = "width:250px" })</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayKetKhuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKetKhuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhamVi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhamVi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai1.TinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai1.TinhTrang)
        </dd>
    </dl>
    <hr />
    <h1>Bình luận</h1>
    <div>
        <div class="comments">
            @{
                if (Model.BinhLuans.ToList().Count != 0)
                {
                    foreach (var item in Model.BinhLuans)
                    {
                        <div class="be-comment">
                            <div class="be-img-comment">
                                <a href="blog-detail-2.html">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">
                                </a>
                            </div>
                            <div class="be-comment-content">

                                <span class="be-comment-name">
                                    <a>@item.NhanVien.HoTen</a>
                                </span>
                                <span class="be-comment-time">
                                    <i class="fa fa-clock-o"></i>
                                    @item.created_at
                                </span>

                                <p class="be-comment-text">
                                    @item.BinhLuan1
                                </p>
                            </div>
                        </div>
                    }
                }
            }
        </div>

        <div class="container">
            <div class="be-comment-block">
                <h1 class="comments-title">Comments (3)</h1>


                <form class="form-block">
                    <div class="row">
                        <div class="col-12" style="width:auto">
                            <div class="form-group" s>
                                <textarea class="form-input" required="" placeholder="Your text"></textarea>
                                <a class="btn btn-primary pull-right btn-add-comment" data-id="@Model.MaCV">submit</a>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaCV }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
    <script src="~/ajax/BinhLuan.js"></script>
}